version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: bank_cards_postgres
    environment:
      POSTGRES_DB: bank_cards_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bank_cards_network

volumes:
  postgres_data:
    driver: local

networks:
  bank_cards_network:
    driver: bridge
