spring:
  application:
    name: bank-cards-management

  datasource:
    url: jdbc:postgresql://localhost:5433/bank_cards_db?sslmode=disable
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8080
  servlet:
    context-path: /

jwt:
  secret: MySecretKeyForJWTTokenGenerationAndValidation123456
  expiration: 86400000

card:
  encryption:
    secret: MySecretKey12345

logging:
  level:
    root: INFO
    com.example.bankcards: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
